h1 {
    text-align: center;
    border-radius: 3px;
}

#concepts-container {
    display: flex;
    width : 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: LightGray;
    border-radius: 3px;
    flex-wrap: wrap;
}

.concept {
    min-width: 200px;
    flex: 1 0 200px;
    margin : 5px;
    padding : 10px;
    padding-top: 0px;
    border-radius: 3px;
    background-color: gray;
    color: black;
}

#infoContainer{
        display: flex;
        width : 90%;
        min-width: 450px;
        margin-left: auto;
        margin-right: auto;
        background-color: LightGray;
        border-radius: 3px;
        flex-wrap: wrap;
}

#info {
    min-width: 400px;
    flex: 1 0 200px;
    margin : 5px;
    padding : 10px;
    padding-top : 0px;
    border-radius: 3px;
    background-color: gray;
    color: black;
}

#input{
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    flex: 1 0 200px;
    margin : 5px;
    padding : 10px;
    border-radius: 3px;
    background-color: gray;
    color: black;
}

#tipTextArea {
    width: 300px;
    height: 150px;
}

#buttons {
    align-self: center;
}